!.gitignore
target/
build/
bin/
.DS_Store*
.settings/
.pmd
.classpath
.project
sonar.xml
logs/
*.iml
*.ipr
*.iws
*.eml
.idea/
tmp/
terraform.tfstate
.terraform
terraform.tfstate.backup
junit*
/.DS_Store
